:root {
  --pixel-size: 4;
}

body {
  background-color: black;
  overflow: hidden;
}

body, #room {
  margin: 0;
  padding: 0;
}

#room, #player {
  position: absolute;
  top: calc(50% - calc(16px * var(--pixel-size)));
  left: calc(50% - calc(16px * var(--pixel-size)));
}

#player {
  z-index: 10;
}

.map-cell {
  background-color: royalblue;
  height: calc(16px * var(--pixel-size));
  image-rendering: pixelated;
  overflow: hidden;
  position: absolute;
  width: calc(16px * var(--pixel-size));
}

.animated-spritesheet {
  min-width: 64px;
  min-height: 64px;
  position: relative;
  overflow: hidden;
}

.animated-spritesheet .spritesheet {
  width: calc(64px * var(--pixel-size));
  height: calc(64px * var(--pixel-size));
  image-rendering: pixelated;
  position: absolute;
}

.animated-spritesheet .run {
  animation: anim-sprites .5s steps(4) infinite;
}

.animated-spritesheet .idle {
  left: 0;
}

@keyframes anim-sprites {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

